body {
  font-family: Cabin, "Cabin Condensed";
}

#pontusbild {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* Grid Grades - Tomac */

.containerGrades {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px 10px;
}

.itemGrades {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Flexbox Grades - Tomac */

.flexGrades {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.flexGrades > div {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxGrades {
  color: #d3d3d3;
  background-color: #353535;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.paraGrades {
  width: 200px;
  line-height: 1.4;
}

.h2Grades {
  text-align: center;
}

.gradeTextBold {
  font-weight: bold;
  font-size: 18px;
}

.gradesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  list-style-position: inside;
}

.gradesList li {
  text-align: left;
  width: 350px;
}

/* .boxGrade1 {
} */

@media (max-width: 700px) {
  .flexGrades {
    flex-direction: column;
    align-items: center;
  }
}
